@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .small-p {
    @apply text-[11px] text-gray-accent capitalize;
  }
}

.featured {
  height: 2rem;
  filter: brightness(0);
  opacity: 50%;
}