@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .small-p {
    @apply text-[11px] text-gray-accent capitalize;
  }

  .about-divs {
    @apply h-64 w-1/3 p-8 bg-white rounded-2xl flex flex-col space-y-5 shadow-md
  }
}

.featured {
  height: 2rem;
  filter: brightness(0);
  opacity: 50%;
}